
.footer
  .footer__logo
    img(src='/img/footer_logo.png', alt='Palette logo')
  ul.footer__nav
    li
      a(href='./portfolio/pfolio.html') About me
    li
      a(href='#') Download apps
    li
      a(href='#') Become an artist
    li
      a(href='#') Careers
    li
      a(href='#') Contact
    li
      a(href='/custom-painting-on-shoes') shoes
  p.footer__copyright
    | &copy; stallur. All rights reserved.
