doctype html
html
  head
    block head
      title Palette Prowess | Where Colors Whisper and Dreams Unfold
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', type='image/svg', href='/img/bird.svg')
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv='Content-Security-Policy' content="default-src 'self'; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; script-src 'self'; img-src 'self';")
      //-link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
      //-link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
      
      script(src="/js/bundle.js", defer)
      script(src="/js/index.js", defer)
      meta(http-equiv="Content-Security-Policy", content="default-src 'self'; connect-src 'self' ws://127.0.0.1:62849;")

      script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
  body
    include _header

    block content
      h1 This is base

    include _footer

    
    script(src='https://js.stripe.com/v3/')
