extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      p.subtext-one Fear not. We'll email you instructions to reset your password.
      form.form.form--forgot-password(id='forgotPasswordForm')
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', name='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green(type='submit') Send
